* {
  font-family: lato;
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}
.row h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.page {
  /* margin: 10px; */
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  background: linear-gradient(48deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}
svg {
  position: absolute;
}
.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  /* opacity: 50%; */
}

.g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 0.7;
  mix-blend-mode: var(--blending);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}
.g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 0.7;
  mix-blend-mode: var(--blending);

  transform-origin: calc(50%-400px);
  animation: moveInCircle 20s reverse infinite;
}
.g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 100px);
  left: calc(50% - var(--circle-size) / 2 - 600px);
  opacity: 0.6;
  mix-blend-mode: var(--blending);

  transform-origin: calc(50%+400px);
  animation: moveInCircle 40s linear infinite;
}
.g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 0.8;
  mix-blend-mode: var(--blending);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
}
.g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  opacity: 0.6;
  mix-blend-mode: var(--blending);

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}
.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  width: 50%;
  height: 50%;
  top: -25%;
  left: -25%;
  opacity: 1;
  mix-blend-mode: var(--blending);
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

body {
  background: transparent !important;
  padding-bottom: 3vh;
  overflow: hidden; /* Hides overflowing content */
  position: relative; /* Ensures the body covers the entire viewport */
  min-height: 100vh;
}
.form-group {
  margin-bottom: 1rem;
}
td {
  padding-right: 20px;
}

.container {
  margin-top: 100px !important;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.151) !important;
  color: rgba(255, 255, 255, 0.863) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 0.5rem 1rem !important;
  z-index: 10;
  display: flex !important;
  color: white !important;
  background-color: rgb(255 255 255 / 18%) !important;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
}

.collapse-nav {
  justify-content: center !important;
}

.row {
  align-items: center;
}
a {
  text-decoration: none !important;
  color: rgb(49, 49, 49);
}
.normal-a {
  color: rgb(247, 247, 247) !important;
  position: relative;
}
.normal-a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  border-radius: 20px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.normal-a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-item.dropdown {
  margin-right: 7rem;
  display: contents;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.profile-table a {
  background-color: #f0f0f0;
  color: black;
}

.col-md-4 {
  color: grey;
}
.hover-success {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.hover-success:hover {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.btn {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  margin: 3px;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.btn:hover {
  background-color: #007bff !important;
  border-color: #007bff !important;
  transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.hover-default {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.hover-default:hover {
  background-color: #007bff !important;
  border-color: #007bff !important;
  transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.hover-danger {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.hover-danger:hover {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.hover-warning {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.hover-warning:hover {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

#viewFileModal .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color cubic-bezier(0.1, 1.13, 0.1, 0.3) 0.25s;
}

#viewFileModal .btn:hover span {
  color: transparent;
}

.my-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 40vh;
  color: black;
  word-wrap: break-word;
  background-color: aliceblue;
  background-clip: border-box;
  max-width: 50vw !important;
  justify-content: center;
  width: -webkit-fill-available;
  border-radius: 1rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.card:hover {
  box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.13);
  transform: scale(1.03);
  transition: transform cubic-bezier(0, 0.63, 0.53, 0.69) 0.25s;
  cursor: pointer;
}

.sizeinfo {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: end;
  color: hsl(33, 43%, 84%);
}

.row {
  justify-content: center;
}
#viewFileModal .btn .showonhover {
  visibility: hidden;
  z-index: 2;
  font-size: 1.4rem;
  transition: visibility ease-in-out;
  position: absolute;
}

#viewFileModal .btn:hover .showonhover {
  visibility: visible;
  transition: visibility ease-in-out 2s;
}

.btn-block {
  background-color: #fff;
}

.dropdown-menu {
  padding: 0 !important;
  width: max-content;
  background-color: rgb(255 255 255 / 18%) !important;
  backdrop-filter: blur(5px);
}

.dropdown-menu ul {
  padding-inline-start: 0px;
}
h3 {
  color: rgba(230, 247, 252, 0.884) !important;
}
.dropdown-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu li:hover button {
  background-color: #ffffff52 !important;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.397);
}
.profile-table th {
  padding: 0 20px 10px 0;
}
.dropdown-menu button {
  background-color: transparent !important;
  border-radius: 1rem !important;
}

.btn-copy {
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-copy:hover {
  transition: border 0.15s ease-in-out;
  border: 1px solid black;
  border-radius: 0.25rem;
  cursor: pointer;
}
.dropdown-menu a {
  color: black !important;
}

.used-bar {
  border: 1px solid rgba(0, 140, 255, 0.288);
  border-radius: 10px;
  height: 18px;
  overflow: hidden;
  font-size: 0.7rem;
  margin-top: 5px;
  position: relative;
}
.used-bar .used {
  background-color: rgb(0, 140, 255);
  height: 18px;
  position: relative;
}
.progress-indicator {
  font-family: math;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar-nav li a:hover {
  background-color: #ffffff1f;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.767) !important;
}

.elipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.active {
  background-color: #ffffff09;
  color: rgba(255, 255, 255, 1) !important;
}
.active a {
  background-color: #ffffff09;
  color: rgba(255, 255, 255, 1) !important;
}
.navbar li {
  border-radius: 0.4rem;
}
.navbar-brand {
  color: rgba(255, 255, 255, 0.788) !important;
  display: contents;
}
.navbar-nav li a {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: -webkit-fill-available;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  background-color: rgba(255, 255, 255, 0.253) !important;
  color: white !important;
  border: none;
}
.search--bar {
  margin-left: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(1, 1, 1, 0.1);
}

input:focus {
  background-color: rgba(255, 255, 255, 0.199) !important  ;
}

input {
  color: white !important;
  background-color: transparent !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
  background-color: transparent !important;
}

.dropdown-menu .btn {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}

.dropdown-menu i {
  margin: 0 1rem 0 0.9rem;
  left: 0;
}
.navbar-collapse {
  margin: 0rem 0.5rem;
}

.profile-card {
  width: fit-content !important;
  border-radius: 2rem;
  color: white;
  padding: 3rem !important;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}

.sign-card {
  width: 50vw !important;
  border-radius: 2rem;
  color: white;
  padding: 3rem 6rem !important;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}

.form-group label {
  margin: 10px 0;
}

.signform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signforms {
  width: -webkit-fill-available;
}

.swal-modal {
  background: rgb(128 30 30 / 72%) !important;
  color: rgba(255, 0, 0, 0.863) !important;
  transition: backdrop-filter 5s ease-out;
  backdrop-filter: blur(17px);
}
.swal-title {
  color: white;
  font-weight: 400;
}
.swal-text {
  color: white;
}
@media (max-width: 992px) {
  .navbar-collapse {
    margin: 1.5rem 0;
  }
  embed {
    max-height: 310px !important;
  }
}
